$blue: #5ca9b1;
$white: #ffffff;
$gray: #f9f9fb;

$nav-height: 10rem;
$large-space: 5rem;
$small-space: 2rem;
$mini-space: 0.5rem;

$primary-font: 'Amatic SC', cursive;
$secondary-font: 'Open Sans Condensed', sans-serif;

$button-font-size: 3rem;
$heading-font-size: 2.5rem;
$sub-heading-font-size: 1.5rem;


html,body,nav,h1,h2,h3 {
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu {
  background-color: $blue;
  display: flex;
  &__list {
    display: flex;
    height: $nav-height;
    line-height: $nav-height;
    padding: 0;
    width: 60%;
    list-style: none;
    justify-content: space-between;
    margin: auto;
  }
  &__button {
    border: 5px solid $white;
    font-size: $button-font-size;
    background-color: $white;
    position: relative;
    font-family: $primary-font;
    font-weight: bold;
  }
  &__button:before {
    content: " ";
    position: absolute;
    z-index: 12;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid $blue;
  }
  &__heading {
    border: 5px solid $white;
    font-size: $button-font-size;
    background-color: $white;
    position: relative;
    font-family: $primary-font;
    font-weight: bold;
  }
  &__heading:before {
    content: " ";
    position: absolute;
    z-index: 12;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid $blue;
  }
}

.teacher-container, .solution-container {
  background-color: $white;
}

.student-container, .problem-container {
  background-color: $gray;
}


.container {
  font-family: $secondary-font;
  padding: $large-space 0;
  &__content {
    width: 50%;
    margin: 0 auto;
    padding: $mini-space 0;
  }
  &__heading {
    font-size: $heading-font-size;
    font-family: $primary-font;
    width: 50%;
    padding-left: 25%;
  }
  &__heading {
    font-size: $sub-heading-font-size;
    font-family: $primary-font;
    width: 50%;
    padding-left: 25%;
  }
  &__image {
    width: 100%;
    padding: $small-space 0;
  }
}
